* {
	margin: 0;
	padding: 0;
}

#wrapper {
	width: 100%;
	display: block;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
	font-family: "Montserrat", sans-serif;
}

.flex-container {
	display: flex;
	width: 95%;
	margin: 0 auto;
}

a {
	color: #ff6e7f;
	text-decoration: none;
}

.cta {
  display: block;
  max-width: 320px;
  margin: 0 auto;
  padding: 16px 24px;
  background: linear-gradient(90deg, #bc4e9c 0%, #f80759 100%);
  color: #fff;
  text-decoration: none;
  text-align: center;
  border-radius: 50px;
	box-shadow: 0px 10px 36px 0px rgba(0, 0, 0, 0.25);
	transition: box-shadow .3s ease-out;
  -webkit-transition: box-shadow .3s ease-out;
}

.cta:hover {
	box-shadow: 0px 15px 48px 0px rgba(0, 0, 0, 0.35);
}

.times {
	display: block;
	text-align: center;
	margin: 3em auto 0;
	width: 95%;
}

.times p {
	font-size: 32px;
	color: #444;
	font-weight: 100;
}

.center {
	text-align: center;
}
