#save-seat {
  background: #f0f0f0;
}

.form-row {
  width: 100%;
  display: block;
  padding: 12px 16px;
  box-sizing: border-box;
}

.form-group {
  display: flex;
}

form#save {
  display: block;
  box-sizing: border-box;
  width: 80%;
  margin: 2em auto 1em;
}

.form-row input {
  display: block;
  -webkit-appearance: none;
  border: 0;
  font-size: 16px;
  outline: none;
  color: #333;
  border-radius: 5px;
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.21);
  padding: 16px 24px;
  width: 100%;
  box-sizing: border-box;
  font-weight: bold;
  transition: .3s ease-out;
  -webkit-transition: .3s ease-out;
}

.form-row input:focus {
  background: linear-gradient(90deg, #bc4e9c 0%, #f80759 100%);
  color: #fff;
  box-shadow: 0px 21px 48px 0px rgba(0, 0, 0, 0.35);
}

.form-row input:focus::-webkit-input-placeholder { color: #fff; }
.form-row input:focus::-moz-placeholder { color: #fff; }
.form-row input:focus::-ms-input-placeholder { color: #fff; }
.form-row input:focus::-moz-placeholder { color: #fff; }

form#save button {
  display: block;
  width: 25%;
  color: #fff;
  background: linear-gradient(90deg, #bc4e9c 0%, #f80759 100%);
  box-shadow: 0px 10px 36px 0px rgba(0, 0, 0, 0.25);
  -webkit-appearance: none;
  border: 0;
  font-size: 16px;
  margin: 1em auto 2em;
  font-family: "Montserrat", sans-serif;
  padding: 16px 8px;
  border-radius: 50px;
  cursor: pointer;
  transition: box-shadow .3s ease-out;
  -webkit-transition: box-shadow .3s ease-out;
}

form#save button:hover {
  box-shadow: 0px 15px 48px 0px rgba(0, 0, 0, 0.35);
}

input[type="number"] {
  width: 25%;
}
