.jumbotron-expect {
	background-image: url('https://i.imgur.com/uf3eWu1.jpg');
	background-size: cover;
	background-position: center;
}

.jumbotron-community {
	background-image: url('https://i.imgur.com/h5T4sO2.jpg');
	background-size: cover;
	background-position: center;
}

.jumbotron-kids {
	background-image: url('https://c2.staticflickr.com/2/1456/26000575014_e3c1a311eb_b.jpg');
	background-size: cover;
	background-position: center;
}
