.jumbotron-expect {
	background-image: url('https://i.imgur.com/uf3eWu1.jpg');
	background-size: cover;
	background-position: center;
}

.jumbotron-community {
	background-image: url('https://i.imgur.com/h5T4sO2.jpg');
	background-size: cover;
	background-position: center;
}

.jumbotron-kids {
	background-image: url('https://c1.staticflickr.com/5/4745/39391364485_f2cb18bd36_b.jpg');
	background-size: cover;
	background-position: center;
}

.jumbotron-testimony {
	background-image: url('https://c1.staticflickr.com/5/4538/27216023619_866a08e926_b.jpg');
	background-size: cover;
	background-position: center;
}
